<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My POC of Spring MVC - About</title>
</head>

<body>
<div th:replace="fragments/resources :: resources"></div>
<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-8 text-left">
				<h1 th:text="#{title.about}"></h1>
				<p>Nothing yet...</p>
				<hr />
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>