<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head th:fragment="resources">
<link href="/resources/css/style.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/style.css}" />
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />

<meta charset="UTF-8" />
<title>My POC of Spring MVC</title>
</head>
</html>